body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

header {
    display: flex;
}

header>a {
    margin-left: 17em;
}

.navbar {
    display: flex;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    padding-left: 4em;
}

nav {
    display: flex;
}

#nav-link {
    list-style: none;
    margin: 0 0 0 0;
    padding: 1.5rem 0 0 0;
    font-size: 20px;
    line-height: 30px;
    position: relative;
    float: right;
    height: 80px;
}

.nav-link>li {
    float: left;
}

li {
    display: inline-flex;
    text-align: -webkit-match-parent;
    margin-right: 2rem;
}

#banner {
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 60px;
    font-family: UtopiaStd-BlackHeadline, Utopia Std Headline;
    font-weight: 800;
    letter-spacing: 0.071em;
}
#banner-heading {
    margin-top: -120px;
    font-size: 60px;
    font-family: UtopiaStd-BlackHeadline, Utopia Std Headline;
    font-weight: 800;
    letter-spacing: 0.071em;
}

#banner-text {
    font-size: 24px;
    font-family: ArialNarrow, Arial;
    letter-spacing: 0.091em;
    margin-bottom: 3em;
}

#banner-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.home-btn {
    width: 200px;
    height: 80px;
    stroke: rgba(0, 0, 0, 0.09);
    stroke-width: 2px;
    font-size: 23px;
    font-family: BookmanOldStyle, Bookman Old Style;
    border-radius: 30px;
}

#find-tutor-btn {
    background-color: #2effb8;
    border: none;
    margin-right: 2em;
}

#become-tutor-btn {
    background-color: white;
    border: #2effb8 4px solid;
}

#banner-2 {
    display: flex;
}

#banner-img {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#circle-img {
    position: absolute;
    writing-mode: vertical-rl;
}

#sec-2-heading {
    margin-top: 1em;
    height: auto;
}

.numbers {
    stroke: #707070;
    stroke-width: 2px;
    font-size: 60px;
    font-family: ArialMT, Arial;
    position: absolute;

}

.steps{
    display: flex;
}

.steps-text{
    font-size: 25px;
        font-family: ArialNarrow, Arial;
        letter-spacing: 0.042em;
        width:250px
}

#main-steps-div{
    display: flex;
    flex-direction: column;
}
.steps-text-span{
    align-self: center;
    margin-left: 1em;
}


.steps:first-child{
    justify-content: center;
}
.steps:nth-child(2){
    justify-content: flex-end;
}
.steps:nth-child(3){
    justify-content: center;
}


#section-3-div{
    margin-left:15em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 3em;
}
/* 
#section-3>img{
    position: absolute;
} */

#form-div{
    display: flex;
    padding-top: 2em;
}

/* #form-div>img{
    position: absolute;
    margin-left: 42em;
    margin-bottom: 2em;

} */

.form-select{
    width: 300px;
    height: 70px;
    stroke: rgba(0, 0, 0, 0.09);
    stroke-width: 2px;
    font-size: 23px;
    font-family: BookmanOldStyle, Bookman Old Style;
    border-radius: 30px;
    margin-bottom: 3em;
    margin-right: 2em;
    background-color: white;
    border: gray 3px solid;
    background: url({process.env.PUBLIC_URL + "/Home-Sec-3/drop-icon.png"}) 96% / 15% no-repeat #eee;
}

.form-input{
    width: 290px;
    height: 65px;
    stroke: rgba(0, 0, 0, 0.09);
    stroke-width: 2px;
    font-size: 23px;
    font-family: BookmanOldStyle, Bookman Old Style;
    border-radius: 30px;
    margin-bottom: 3em;
    margin-right: 2em;
    background-color: white;
    border: gray 3px solid;
}

#form-search-btn{
    width: 300px;
    height: 70px;
    stroke: rgba(0, 0, 0, 0.09);
    stroke-width: 2px;
    font-size: 23px;
    font-family: BookmanOldStyle, Bookman Old Style;
    border-radius: 30px;
    margin-bottom: 3em;
    background-color: white;
    background-color: #2effb8;
    border: none;
}